body {
    font-family: Arial, sans-serif;
    background-color: #2d2d2d;
    color: #e0e0e0;
    margin: 0;
    transition: background-color 0.5s, color 0.3s;
}

.user-image {
    width: 50px; /* O el tamaño que prefieras */
    height: 50px;
    border-radius: 50%; /* Para hacer la imagen circular */
    margin-right: 5px; /* Para añadir un espacio entre la imagen y el texto */
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(
        100vh - 60px
    ); /* Ajusta la altura según la altura de tu navbar */
    margin-left: 10px;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}


.table-responsive {
    margin-bottom: 20px;
}

.table thead th {
    vertical-align: middle;
    text-align: center;
}

.table tbody td {
    vertical-align: middle;
}


.info-box {
    background-color: #3d3d3d;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, color 0.3s;
    text-align: center; /* Añadido para centrar el texto */
}

.form-label {
    color: #3d3d3d;
    transition: background-color 0.3s, color 0.3s;
}

.icon {
    font-size: 40px;
    margin-bottom: 10px;
}

h2 {
    margin-top: 0;
}

p {
    margin: 10px 0;
}

/* Estilo para el botón Crear Ticket */
button[data-bs-toggle="modal"] {
    background-color: #2d2d2d; /* Color de fondo verde */
    color: white; /* Texto en color blanco */
    padding: 10px 20px; /* Relleno para hacer el botón más grande */
    border: none; /* Elimina el borde por defecto */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor a una mano al pasar sobre el botón */
    font-size: 16px; /* Tamaño de la fuente más grande */
    transition: background-color 0.3s; /* Transición suave al cambiar el color de fondo */
}

button[data-bs-toggle="modal"]:hover {
    background-color: #5252e0; /* Color de fondo más oscuro al pasar el ratón */
}

/* Botón Flotante */
.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #5252e0;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

.floating-button:hover {
    background-color: #6c6cff;
    transform: scale(1.1);
}

/* Botón de Consultar Tramite del Ticket*/
.btn-theme {
    background-color: #5252e0;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    text-decoration: none;
}

.btn-theme:hover {
    background-color: #6c6cff;
}

/* Tema claro */
.light-theme {
    background-color: #f0f0f0;
    color: #2d2d2d;
}

.dark-theme a {
    background-color: #2d2d2d;
    color: #f0f0f0;
    transition: background-color 0.4s, color 0.3s;
}

.light-theme .info-box {
    background-color: #ffffff;
    color: #2d2d2d;
}

.light-theme .form-label {
    background-color: #ffffff;
    color: #2d2d2d;
}

.light-theme button {
    background-color: #5252e0;
    color: white;
}

.light-theme button:hover {
    background-color: #6c6cff;
}

.light-theme .theme-button {
    background-color: #ddd;
    color: #2d2d2d;
}

.light-theme .floating-button {
    background-color: #5252e0;
}

.light-theme .floating-button:hover {
    background-color: #6c6cff;
}
