body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    transition: background-color 0.5s, color 0.3s;
    background-color: #2d2d2d; /* Color de fondo oscuro por defecto */
    color: #e0e0e0; /* Color de texto oscuro por defecto */
}

.main-container {
    justify-content: center;
    align-items: center;
    height: calc(
        100vh - 60px
    ); /* Ajusta la altura según la altura de tu navbar */
    margin-left: 10px;
}

.info-box {
    background-color: #3d3d3d;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, color 0.3s;
}
.icon {
    font-size: 40px;
    margin-bottom: 10px;
}

h2 {
    margin-top: 0;
}

p {
    margin: 10px 0;
}

button {
    background-color: #5252e0;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #6c6cff;
}
/* Botón FLotante */
.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #5252e0;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

.floating-button:hover {
    background-color: #6c6cff;
    transform: scale(1.1);
}

/* Botón de Consultar Tramite del Ticket*/
.btn-theme {
    background-color: #5252e0;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    text-decoration: none;
}

.btn-theme:hover {
    background-color: #6c6cff;
}

/* Tema claro */
.light-theme {
    background-color: #f0f0f0;
    color: #2d2d2d;
}

.dark-theme a {
    background-color: #2d2d2d;
    color: #f0f0f0;
    transition: background-color 5s, color 0.3s;

}

.light-theme .info-box {
    background-color: #ffffff;
    color: #2d2d2d;
}

.light-theme button {
    background-color: #5252e0;
    color: white;
}
.light-theme button:hover {
    background-color: #6c6cff;
}
.light-theme .theme-button {
    background-color: #ddd;
    color: #2d2d2d;
}
.light-theme .floating-button {
    background-color: #5252e0;
}
.light-theme .floating-button:hover {
    background-color: #6c6cff;
}
